.about-us__title {
  font-size: 44px;
  font-family: "Rajdhani", "sans-serif";
  color: var(--main-text-color);
  padding-bottom: 35px;
  max-width: 440px;
  @media (min-width: 768px) {
    font-size: 65px;
    max-width: 460px;
    .header__hero-dot {
      width: 10px;
      height: 10px;
      vertical-align: 8px;
    }
    @media (min-width: 1024px) {
      font-size: 74px;
      max-width: 600px;
      @media (min-width: 1024px) {
        font-size: 74px;
        max-width: 720px;
      }
    }
  }
}
