.header__nav-first {
  padding: 30px 24px;
}

.header__logo {
  display: flex;
  justify-content: space-between;
}

.header__logo-img {
  width: 180px;
  height: 33px;
}

.header__burger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: var(--spacing-xs);
  position: relative;
  width: 30px;
  height: 30px;
}

.header__burger-line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--main-text-color);
  transition: var(--transition-speed);
  position: absolute;
  left: 0;
  transform-origin: center;
}

.header__burger-line:nth-child(1) {
  transform: translateY(-8px);
}
.header__burger-line:nth-child(2) {
  transform: translateY(0);
}
.header__burger-line:nth-child(3) {
  transform: translateY(8px);
}

.header__number-logo {
  color: var(--accent-color);
  height: 20px;
  width: 26px;
}

.header__number-phone {
  text-decoration: none;
  margin-left: 3px;
  color: var(--main-text-color);
  font-size: 22px;
  font-family: "Rajdhani", "sans-serif";
  font-weight: bold;
}

.header__nav {
  display: flex;
  align-items: center;
  min-width: 80%;
}

.header__menu-link {
  text-decoration: none;
  font-size: 16px;
  font-family: "Heebo", "sans-serif";
  color: var(--main-text-color);
  font-weight: bold;
  margin: auto;
}

.header__menu-item {
  list-style: none;
  margin: auto;
}

.header__number {
  margin-left: auto;
  width: 25%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.header__menu {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

/* Responsive Design */
@media (max-width: 1024px) {
    /* .header__menu-item {
        margin: auto;
    } */

  .header__burger {
    display: block;
    z-index: 101;
  }
  .header__number.width {
    width: 80%;
  }
  .header.no-bg {
    background-image: none; /* Видаляємо картинку */
    background-color: var(
      --background-color
    ); /* Замінюємо на суцільний колір */
  }
  .header__nav {
    position: fixed;
    top: var(--header-height);
    left: 0;
    width: 100%;
    height: 0;
    background-color: var(--background-color);
    overflow: hidden;
    transition: height var(--transition-speed);
    display: block;
    
  }

  .header__menu {
    flex-direction: column;
    padding: var(--spacing-md);
    gap: var(--spacing-sm);
    opacity: 0;
    transition: opacity var(--transition-speed);
    margin: auto;
  }

  /* Mobile menu open state */
  .header__nav.is-open {
    height: calc(100vh - var(--header-height));
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* background-color: var(--background-color); */
  }

  .header__nav.is-open .header__menu {
    opacity: 1;
  }

  .header__burger.is-active .header__burger-line:nth-child(1) {
    transform: translateY(0) rotate(45deg);
  }

  .header__burger.is-active .header__burger-line:nth-child(2) {
    opacity: 0;
  }

  .header__burger.is-active .header__burger-line:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
  }
}
