.offer-promo__title {
  font-size: 34px;
  font-family: "Rajdhani", "sans-serif";
  color: var(--main-text-color);
  @media (min-width: 768px) {
    font-size: 41px;
  }
  @media (min-width: 1024px) {
    font-size: 48px;
  }
}

.offer-promo__text {
  font-size: 17px;
  font-family: "Heebo", "sans-serif";
  color: var(--text-color);
  margin: 20px 0px;
}

.offer-promo__text--highlight {
  font-size: 19px;
  font-family: "Heebo", "sans-serif";
  color: var(--light-text-color);
  margin: 20px 0px;
}

.offer-promo__service-item {
  font-size: 17px;
  font-family: "Heebo", "sans-serif";
  color: var(--light-text-color);
}

.offer-promo__container {
  max-width: 1250px;
  background-color: var(--background-color-2);
  padding: 90px 30px 90px 30px;
  margin: auto;
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

.offer-promo__services-list {
  list-style: none;
  line-height: 3;
  margin-bottom: 30px;
  /* @media (min-width: px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  } */
}

.offer-promo__service-dot {
  border-radius: 50%;
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: var(--bottom-color);
  margin-left: 5px;
  margin-right: 15px;
  font-size: 0;
  vertical-align: 8px;
}

.offer-promo__btn {
  font-size: 13.2px;
  font-family: "Heebo", "sans-serif";
  color: var(--main-text-color);
  display: inline-block;
  padding: 15px 30px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
  border: 2px solid transparent;
  letter-spacing: 2px;
  background-color: var(--accent-color);
  max-width: 272px;
}

.offer-promo__photo {
  margin-bottom: 50px;
}

.offer-promo__img {
  @media (min-width: 768px) {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    object-position: center;
  }
}
