.header__hero-title {
  font-size: 44px;
  font-family: "Rajdhani", "sans-serif";
  color: var(--main-text-color);
  padding-bottom: 35px;
  max-width: 440px;
  @media (min-width: 768px) {
    font-size: 65px;
    max-width: 460px;
    .header__hero-dot {
      width: 10px;
      height: 10px;
      vertical-align: 8px;
    }
    @media (min-width: 1024px) {
      font-size: 74px;
      max-width: 600px;
      @media (min-width: 1024px) {
        font-size: 74px;
        max-width: 720px;
      }
    }
  }
}

.header__hero {
  padding: 60px 24px 150px 24px;
  @media (min-width: 768px) {
    padding: 60px 24px 240px 24px;
    @media (min-width: 1024px) {
      padding: 60px 24px 330px 24px;
    }
  }
}

.header__hero-dot {
  display: inline-block;
  width: 7px;
  height: 7px;
  background-color: var(--accent-color);
  margin-left: 3px;
  font-size: 0;
  vertical-align: baseline;
  vertical-align: 6px;
}

.header {
  background-image: url(../img/header-fon.png);
  min-height: 500px; /* Тимчасово, щоб побачити чи з'явиться фон */
  background-size: cover;
  background-position: center bottom;
  @media (min-width: 1024px) {
    min-height: 950px;
  }
}

.header--about {
  background-image: url(../img/about_us_fon.png);
}

/* Кнопки*/
.header__hero-actions {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
  @media (min-width: 768px) {
    flex-direction: row;
  }
}
.header__hero-btn {
  font-size: 13.2px;
  font-family: "Heebo", "sans-serif";
  color: var(--main-text-color);
  display: inline-block;
  padding: 18px 45px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
  border: 2px solid transparent;
  letter-spacing: 2px;
}
.header__hero-btn--primary {
  background-color: var(--accent-color);
  max-width: 272px;
}
.header__hero-btn--secondary {
  background-color: transparent;
  border-color: var(--main-text-color);
  width: 80%;
  max-width: 218px;
}
