<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chronovia</title>
    <link
      rel="shortcut icon"
      type="image/png"
      href="//res2.weblium.site/res/5cb87a988daa1d0023d48b11/5d78cf73a29ff1002443efa1_optimized"
      sizes="16x16"
    />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <!-- <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    /> -->
    <link rel="stylesheet" href="css/about-us.css" />
  </head>
  <body class="page">
    <header class="header--about">
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.header-nav.partial.html"
      ></nav>

      <div 
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="about-us.header-hero.partial.html"
      ></div>
    </header>
    <main class="main-content">
      
    </main>
    <footer
      class="footer"
      data-hx-trigger="load"
      data-hx-swap="innerHTML"
      data-hx-get="global.footer.partial.html"
    ></footer>
    <script type="module" src="js/index.js"></script>
  </body>
</html>
